<section id="counts" class="counts">
    <div class="container aos-init" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span>+ <span data-toggle="counter-up">+30</span></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span>+ <span data-toggle="counter-up">60</span></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span>+ <span data-toggle="counter-up">5</span></span>
            <p>Years of experience</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span>+ <span data-toggle="counter-up">9</span></span>
            <p>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section>
