#header nav{
    background: #fff;
    padding: 25px 0;
    top: 40px;

  }
  .navbar a {
    display: block;
    position: relative;
    color: #222222;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
  }
  .nnavbar a:hover, .navbar .active > a, .navbar li:hover > a {
    color: #128ea6;
  }
