<footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="http://advance-solution.org/" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Advance solution<span>.</span></h3>
            <p>
              Teliani st.<br>
              Damascus<br>
              Syria <br><br>
              <strong>Phone:</strong> +963 965 777 235<br>
              <strong>Email:</strong> infodvance-solution.org<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-9 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://advance-solution.org/index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://advance-solution.org/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://advance-solution.org/#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://advance-solution.org/#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://advance-solution.org/#">Privacy policy</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Social Networks</h4>
            <p>Drop us a line anytime and one of our team members will be happy to answer your questions</p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/Advance.SLN" class="facebook" target="_blank"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com/advance.solution/" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>
              <!--a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        © Copyright <strong><span>Advance solution</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="mailto:hosamre94@gmail.com">Hosam Al-rehani</a>
      </div>
    </div>
  </footer>
