

  <div id="topbar"class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
       <div class="contact-info mr-auto">
       <a  class="btn email" >
    <i class="fas fa-envelope"></i> info-solution.org</a>
        <a class="btn phone" (click)="openLink('tel:+963 965 777 235')">
    <i class="fas fa-phone"></i> +963 965 777 235
      </a>
       </div>

    <div class="social-links" style="padding-left: 4px"  >
        <button   mat-icon-button class="material-symbols-outlined" (click)="openLink('https://www.facebook.com/Advance.SLN?mibextid=ZbWKwL')">
    <i class="fab fa-facebook-f"></i>
  </button>
  <button   mat-icon-button class="material-symbols-outlined" (click)="openLink('https://www.instagram.com/advance.solution?igsh=b28wcnI1Z2xjd2l2')">
    <i class="fab fa-instagram"></i> 
  </button>
     <button
            mat-icon-button
            style="flex-wrap: wrap-reverse"
            [matMenuTriggerFor]="languageMenu"
            aria-label="Example icon-button with a changeLanguage"
          
          >
            <span class="material-symbols-outlined">language</span>
          </button>
        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
        <a>
       

          <mat-menu #languageMenu="matMenu" >
            <button mat-menu-item (click)="changeLanguage('en')">
              {{ "English" | translate }}
            </button>
            <button mat-menu-item (click)="changeLanguage('ar')">
              {{ "Arabic" | translate }}
            </button>
          </mat-menu> </a
        >
      
      </div>
    </div>
    <!-- <button (click)="changeLangage('ar')">Arabic</button>
<button (click)="changeLangage('en')">English</button>

<div>
    <h3 >{{'Hello.lolo' | translate}}</h3>
    <p >{{'Just Text '| translate}}</p>
</div> -->
  </div>
 