<section id="hero" class="d-flex align-items-center" >
    <div class="container aos-init aos-animate" >
      <h1 > {{'Welcome to'|translate}} <span class="text-uppercase"  >{{'advance solution'|translate}}
      </span>
    </h1>
      <h2  >{{'Hello'|translate}}      </h2>
      <div class="d-flex" >
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video vbox-item" data-vbtype="video" data-autoplay="true">{{" Watch Video"|translate}} <i class="icofont-play-alt-2"></i></a>
      </div>
    </div>
  </section>