<section id="portfolio" class="portfolio">
    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2>Portfolio</h2>
        <h3>Check our <span style="color: #128ea6;">Portfolio</span></h3>
        <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
      </div>

      <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Cameras</li>
            <li data-filter=".filter-card">Serveres</li>
            <li data-filter=".filter-web">Networks</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container aos-init" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 380px;">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
          <img src="./Advance solution_files/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Camera 1</h4>
            <p>Camera 1</p>
            <!-- <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
            <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 380px; top: 0px;">
          <img src="./Advance solution_files/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Camera 2</h4>
            <p>Camera 2</p>
            <a href="./Advance solution_files/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link vbox-item" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="http://advance-solution.org/portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 760px; top: 0px;">
          <img src="./Advance solution_files/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Camera 3</h4>
            <p>Camera 3</p>
            <a href="./Advance solution_files/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link vbox-item" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="http://advance-solution.org/portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>
  </section>
