<div *ngIf="loading">
  <div style="display: flex; flex-direction: column;text-align: center; 
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 300px;">
    <img src="../assets/logo00.png" alt="ShopyIq"
      style="width: 150px;align-items: center;text-align: center;justify-items: center;">
   
  </div>
  <div class="spinner-container">
    <mat-spinner style="max-width: 55px;" ></mat-spinner>
  </div>
</div>
<div *ngIf="!loading">
  <!-- <router-outlet></router-outlet> -->
<div class="scroll-animate" [@slideInOut]>
  <app-back-to-top></app-back-to-top>
</div>
<br>


<app-header></app-header>

<br>

<div class="scroll-animate" [@fadeInOut]>
  <app-hero></app-hero>
</div>
<br>

<app-featured></app-featured>

<br>

<div  [@fadeInOut]>
  <app-about></app-about>
</div>

<div  [@fadeInOut]>
  <app-counts></app-counts>
</div>

<br>

<div  [@fadeInOut]>
  <app-clients></app-clients>
</div>

<br>

<div  [@fadeInOut]>
  <app-services></app-services>
</div>

<br>

<div  [@fadeInOut]>
  <app-portfolio></app-portfolio>
</div>

<br>

<div  [@fadeInOut]>
  <app-products></app-products>
</div>

<br>

<div  [@fadeInOut]>
  <app-contact></app-contact>
</div>

<br>

<div  [@fadeInOut]>
  <app-footer></app-footer>
</div>
