<div *ngIf="loading">
    <div style="display: flex; flex-direction: column;text-align: center; 
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 300px;">
        <img src="../assets/advance-logo_1.png" alt="ShopyIq"
            style="width: 150px;align-items: center;text-align: center;justify-items: center;">
        <h4  style="color: #128ea6; font-weight: bold; align-items: center;">
            Welcome to advance</h4>
    </div>
    <div class="spinner-container">
        <mat-spinner  color="accent" style="    max-width: 55px;"></mat-spinner>
      </div> 
</div>
<div *ngIf="!loading">
    <!-- <router-outlet></router-outlet> -->


   
    <app-back-to-top></app-back-to-top>
    <app-topbar></app-topbar> 
    <app-header></app-header>
    <app-hero></app-hero>
    <app-featured></app-featured>
    <app-about></app-about>
    <app-counts></app-counts>
    <app-clients></app-clients>
    <app-services></app-services>
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>
    <app-footer></app-footer>
