<section id="contact" class="contact" style="background-color: #e5f1f4;">
    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2>PRODUCTS</h2>
        <h3><span> OUR PRODUCTS </span></h3>
        <p>For the freedom you need to truly grow.</p>
      </div>

    

      <div class="row aos-init" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6 " >
          <div id="map" style="height: 100%; width: 100%;"></div>


      
      </div>
       
    

      </div>

    </div>
</section>