<section id="services" class="services">
    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span style="color:  #128ea6;;">Services</span></h3>
        <p>Enjoy these comprehensive solutions and more!</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i> <fa-icon ></fa-icon></i></div>
            <h4><a href="http://advance-solution.org/">Security Cameras and Surveillance</a></h4>
            <p>We offers a full range of IP camera lines and Video Management Systems, local Network Video Recorders and Video Analytics.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-network-chart"></i></div>
            <h4><a href="http://advance-solution.org/">Network structure installing</a></h4>
            <p>We can install switches, routers and firewalls from all the leading manufactures, ensuring that you have a robust and efficient network infrastructure.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i>  <fa-icon [icon]="phoneIcon"></fa-icon></i></div>
            <h4><a href="http://advance-solution.org/">After sales Services</a></h4>
            <p>We are always in touch with our customers even after the deal.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i>  <fa-icon [icon]="phoneIcon"></fa-icon></i></div>
            <h4><a href="http://advance-solution.org/">After sales Services</a></h4>
            <p>We are always in touch with our customers even after the deal.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="http://advance-solution.org/">Maintenance contracts</a></h4>
            <p>We offer ad hoc maintenance services as well as IT maintenance contracts for home users, small businesses, and large corporations that fit your requirements and budget.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-support"></i></div>
            <h4><a href="http://advance-solution.org/">Technical support<span class="d-block">within 24 hours</span></a></h4>
            <p>Our services come with a highly skilled technical support team that is available to you for any issues 24 hours a day, 365 days a year.</p>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-support"></i></div>
            <h4><a href="http://advance-solution.org/">SoftWare Enginnering<span class="d-block">within 24 hours</span></a></h4>
            <p>Our services come with a highly skilled technical support team that is available to you for any issues 24 hours a day, 365 days a year.</p>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-support"></i></div>
            <h4><a href="http://advance-solution.org/">taka shmsyaa<span class="d-block">within 24 hours</span></a></h4>
            <p>Our services come with a highly skilled technical support team that is available to you for any issues 24 hours a day, 365 days a year.</p>
          </div>
        </div>
      </div>

    </div>
  </section>